<!DOCTYPE HTML>
<html ng-app="Uploader" ng-controller="mainControl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="RSC/css/angular-material.min.css">
        <link rel="stylesheet" href="RSC/css/css-family=Roboto-200,300,400,600.css">
        <link rel="stylesheet" href="RSC/css/icon-family-Material+Icons.css">
        <title ng-bind="app.name + ' ' + app.version"></title>
    </head>
    <body ng-cloak>
        <!-- NAME AND VERSION -->
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button md-raised md-primary" aria-label="source du projet" ng-href="{{::app.project_source}}" target="_blank">
                    <md-tooltip md-direction="left"> Sources du project </md-tooltip>
                    <md-icon md-font-library="material-icons" class="md-light">menu</md-icon>
                </md-button>
                <h1 ng-bind="app.name + ' ' + app.version"></h1>
                <span flex> <!-- extending space --> </span>
                <md-button class="md-icon-button md-raised md-primary" aria-label="source du projet" ng-href="{{::app.project_source}}" target="_blank">
                    <md-tooltip md-direction="left"> Sources du project </md-tooltip>
                    <md-icon md-font-library="material-icons" class="md-light">bug_report</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- LOADING BAR -->
        <md-progress-linear ng-if="loading" md-mode="query"></md-progress-linear>
        <!-- CONTENT -->
        <md-content class="md-padding">
            <!-- DESCRIPTION -->
            <section ng-if="app.description">
                <md-subheader class="md-primary">
                    {{::app.description}}
                </md-subheader>
            </section>
            <!-- LIST ZONE -->
            <section flex layout-wrap layout="column">
                <md-subheader class="md-warn">
                    Bienvenue !
                </md-subheader>
                <!-- DOMAIN LIST -->
                <div layout="column" layout-margin layout-padding>
                </div>
            </section>
        </md-content>
        <!-- JAVASCRIPT SCRIPTS -->
        <script src="RSC/JS/dep/angular.min.js"></script>
        <script src="RSC/JS/dep/angular-animate.min.js"></script>
        <script src="RSC/JS/dep/angular-aria.min.js"></script>
        <script src="RSC/JS/dep/angular-material.min.js"></script>
        <script src="RSC/JS/myapp.js"></script>
        <!--    (╯°□°）╯ ︵ ┻━┻    -->
    </body>
</html>
