<md-dialog aria-label="New folder dialog" flex-xl="60" flex="100">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h1 class="md-flex"> Create a new folder into "{{::domain.name}}" </h1>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <!-- CONTENT -->
            <md-subheader class="md-primary">
                You'll create a new folder into "{{::domain.name}}" domain
            </md-subheader>
            <div layout="row" layout-margin layout-padding>
                <md-input-container flex class="md-block">
                    <label>New folder name</label>
                    <input required md-maxlength="60" name="folder_name" ng-model="folder_name" placeholder="New folder name" value="" autofocus>
                    <div ng-messages="folder_name.$error">
                      <div ng-message="required">This can't be empty.</div>
                      <div ng-message="md-maxlength">The name has to be less than 60 characters long.</div>
                    </div>
                </md-input-container>
            </div>
            <h4 align="center" ng-if="err_msg">
                <md-icon md-font-library="material-icons" class="md-light">warning</md-icon>
                <span ng-bind="err_msg"></span>
            </h4>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="create_folder()" class="md-raised md-primary">
            <md-icon md-font-library="material-icons" class="md-light">create_new_folder</md-icon>
            Create
        </md-button>
        <md-button ng-click="closeDialog()" class="md-raised md-warn">
            <md-icon md-font-library="material-icons" class="md-light">close</md-icon>
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>
